.blog-banner {
  height: 25vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.news-title h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.blog-banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.blog-banner img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.blog-banner__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.blog-banner__title h2 {
  color: #fff;
}

.search-news {
  display: flex;
  justify-content: end;
}
.custom-news-srch-form {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 50px;
}
/* .search-news__form {
  width: 400px;
} */
.srch-news-input {
  position: absolute;
  border-radius: 100vmax;
  height: 100% !important;
  width: 100%;
  padding: 0 15px !important;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.6) !important;

  z-index: 2;
}

.srch-news-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  width: 70px;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #484848;
  font-size: 18px;
}

.single-news {
  border: 1px solid rgba(91, 90, 90, 0.3);
  margin-bottom: 50px;
}
.single-news:last-child {
  margin-bottom: 0;
}

.single-news__img {
  height: 260px;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.single-news__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.4s linear;
}
.single-news:hover .single-news__img img {
  transform: scale(1.2);
}
.single-news__date {
  height: 70px;
  width: 80px;
  background-color: #feece6bb;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.news-content-block {
  display: flex;
  align-items: center;
  height: 260px;
  padding-right: 50px;
}
.news-content .news-content__video {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff7658;
  color: #fff;
  font-size: 14px;
}
.news-content .news-content__video span {
  margin-right: 7px;
}

.news-content__info a {
  display: inline-block;
  padding: 20px 0;
  font-size: 22px;
  color: #484848;
  font-weight: 700;
}

.news-content__info p {
  font-size: 14px;
  color: #6d6d6d;
}

.news-sidebar__block-top {
  height: 40px;
  width: 100%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.news-sidebar__block-top p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.news-category {
  margin-top: 20px;
}

.news-category ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(91, 90, 90, 0.3);
  margin-bottom: 8px;
}

.news-category ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.news-category ul li a {
  font-size: 14px;
  color: #1d1d1d;
  padding: 10px 20px;
  display: block;
}

.news-category ul li a span {
  margin-right: 15px;
  font-size: 12px;
}

.news-details__img {
  height: 550px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.news-details__img img {
  height: 100%;
  width: 100%;
}

.news-details__timeline {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-details__timeline p {
  color: #6d6d6d;
  font-size: 14px;
}

.news-details__timeline p span {
  margin-right: 15px;
  color: #ff7658;
}
.news-tags {
  margin-top: 15px;
}
.news-tags ul li {
  list-style-type: none;
  margin: 10px 0;
  margin-right: 4px;
  display: inline-block;
}

.news-tags ul li:last-child {
  margin-right: 0;
}

.news-tags ul li a {
  padding: 8px 15px;
  border: 1px solid rgba(91, 90, 90, 0.3);
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  color: #6d6d6d;
  transition: all 0.3s linear;
}

.news-tags ul li a:hover {
  background-color: #ff7658;
  color: #fff;
  border: transparent;
}
